header > h1{
  background-color: #727a77;
  text-align: center;
  padding: 20px;
}
main{
  background-color: rgb(19, 239, 255);
}

aside{
  background-color: rgb(205, 40, 255);

}

footer{
  background-color: #6f78ff;
  text-align: center;
}